@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/


/*--------------------------------------------------------------
3.0 - GENERIC 
-------------------------------------------------------------- */

* {
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #9ba4b0;
}


/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* -- FORMS -- */

fieldset {
	border-width: 0;
}

/* -- LISTS -- */

ul {
	list-style-type: none;
	padding-left: 0;
}

/* -- TYPOGRAPHY -- */

/* -- headings -- */

h1 {
	color: #161920;
	font-weight: 800;
	font-size: 20px;
	padding-left: 3px;
	margin: 0;
}

h2 {
	color: #859aa1;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
}

h2 span {
	color: #556b72;
	font-weight: 800;
	font-size: 30px;
	letter-spacing: -1px;
}

h3 {
	margin-top: 0;
	color: #556b72;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 1px;
}

/* -- paragraphs -- */

p {
	color: #a0a9b6;
	font-size: 13.5px;
	line-height: 25px;
}

#hero p:first-child {
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 1px;
	margin-bottom: 0;
}

#hero p:last-child {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-top: 0;
}

/* -- anchors -- */

a {
	text-decoration: none;
}

nav.float-right a:hover {
	color: #ff8261;
}


/*--------------------------------------------------------------
5.0 - OBJECTS 
-------------------------------------------------------------- */

/* -- FRAMEWORKS -- */

.wrapper {
	width: 1140px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

header div.wrapper {
	padding: 33px 0;
}

header div.float-left {
	width: 263px;
	padding-top: 6px;
}

header nav.float-right {
	width: 487px;
	border-top: 1px solid #dde2e8;
	border-bottom: 1px solid #dde2e8;
	padding-top: 7px;
	padding-bottom: 15px;
}

header nav.float-right ul {
	margin: 6px 0 0 0;
}

nav.float-right li:first-child a {
	padding-right: 15px;
}

nav.float-right li:nth-child(2) a {
	padding: 0 15px;
}

nav.float-right li:last-child a {
	padding-left: 15px;
}

header nav.wrapper ul {
	padding-left: 0px;
	margin-bottom: 21px;
}

/*--
header nav.wrapper li {
	margin-left: 43px;
}
--*/

#search {
	padding: 35px 0 50px 0;
	background-color: #e7f4f8;
}

.col-1-3 {
	width: 358px;
	margin-right: 10px;
	margin-top: 20px;
}

.col-1-3 section {
	width: 260px;
}

#yellow-bg {
	background-color: #fffbde;
}

#hot {
	width: 458px;
}

#features {
	width: 652px;
}

.col-1-2 {
	width: 262px;
}

table {
	width: 100%;
}

footer {
	background-color: #4c515b;
}

.col-1-4:first-child {
	width: 358px;
}

.col-1-4:nth-child(2) {
	width: 326px;
}

.col-1-4:nth-child(3) {
	width: 262px;
}

nav.float-left:last-of-type {
	margin-left: 55px;
}



/*--------------------------------------------------------------
7.0 - COMPONENTS 
-------------------------------------------------------------- */

/* -- BUTTONS -- */

header nav.font-13 a {
	letter-spacing: 1px;
	padding: 19px 24px;
	margin: 0 -2px;
}

header nav.font-13 a:hover, form a:hover {
	background-color: #52cbf8;
}

/* -- HEADER -- */

#hero {
	padding-top: 200px;
	padding-bottom: 100px;
	background: url("../img/hero.jpg") no-repeat;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}


/*--------------------------------------------------------------
7.0 - UTILITIES 
-------------------------------------------------------------- */

.inline-block {
	display: inline-block
}

.left-border {
	border-left: 1px solid #dde2e8;
}

/* -- ALIGNMENT -- */

.va-middle {
	vertical-align: middle;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center
}

.uppercase {
	text-transform: uppercase;
}

.font-14 {
	font-size: 14px;
}

.font-13 {
	font-size: 13px;
}

.dark-gray {
	color: #484e57;
}

.white {
	color: #fff;
}

.bg-peach {
	background-color: #ff8261;
}

.section-padding {
	padding: 75px 0 100px 0;
}

.orange-btn {
	padding: 19px 70px;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 13.5px;
}